extends ../layout/body.jade
block vars
    - var meta_obj = {}
block content

block scripts
    script(src="../js/bower_components/famous/dist/famous-global.min.js")
    script(src="../js/build/index.build.js")